.cardImg{
    border-radius: 10px;
     height: 200px;
    width: 98%;
    margin: auto;
}
.cardBox{
    width: 18rem;
    border-radius: 10px;
    cursor: pointer;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

@media (max-width: 768px) {
    .cardImg{
        height: 100px;
    }
    .cardBox{
        width: 12rem;
    }
}
.scroll-wrapper,.circle-scroll-wrapper{
    overflow-x: none;
  }
  
  .scroll-container,.circle-scroll-container {
    display: flex;
    gap: 5vw;
    overflow-x: auto; 
    white-space: nowrap; 
    width: 100%; 
    scrollbar-width:none;
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none; 
  }