.marquee-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #f8f9fa;
  }
  
  .marquee {
    display: flex;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .marquee-container:hover .marquee {
    animation-play-state: paused;
}
  .card {
    flex: 0 0 auto;
  }

.scroll-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
 
}

.scroll-left,
.scroll-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .scroll-left,
  .scroll-right {
    padding: 10px;
  }
}

.scroll-left {
  left: 10px; /* Place the left button at the start */
}

.scroll-right {
  right: 10px; /* Place the right button at the end */
}

.scroll-container > * {
  display: inline-block;
  margin-right: 0px;
}